st2
virtualenv
build
*.py[cod]
.DS_Store

# Editor Saves
*~
\#*\#
*.swp
ipfabric/
docs/source/solutions/ipfabric/
docs/source/_static/images/3_clos_topology.jpg
docs/source/_static/images/bwc_components.jpg
docs/source/_static/images/ipfabric_topology.jpg
docs/source/_static/images/ztp_topology.jpg
docs/source/_static/images/ztp_usecase_1.jpg
docs/source/_static/images/ztp_usecase_2.jpg
.vscode

# Orquesta Copies
/orquesta/
docs/source/orquesta/overview.rst
docs/source/orquesta/expressions.rst
docs/source/orquesta/context.rst
docs/source/orquesta/yaql.rst
docs/source/orquesta/jinja.rst
docs/source/orquesta/languages
docs/source/orquesta/development

# Local Sphinx build output
.doctrees
