.wy-side-nav-search .wy-dropdown>a img.logo, .wy-side-nav-search>a img.logo {
  display: block;
  width: 160px;
 
  /* svg defaults to fill: #000 */
  filter: invert(100%); /* effectively - fill: #fff */
}

.wy-breadcrumbs li a.icon-home:before {
  content: "" /* drop the icon. js will add content */
}
